In [1]:
# # Input: 
# World table:
# +-------------+-----------+---------+------------+--------------+
# | name        | continent | area    | population | gdp          |
# +-------------+-----------+---------+------------+--------------+
# | Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
# | Albania     | Europe    | 28748   | 2831741    | 12960000000  |
# | Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
# | Andorra     | Europe    | 468     | 78115      | 3712000000   |
# | Angola      | Africa    | 1246700 | 20609294   | 100990000000 |
# +-------------+-----------+---------+------------+--------------+
# Output: 
# +-------------+------------+---------+
# | name        | population | area    |
# +-------------+------------+---------+
# | Afghanistan | 25500100   | 652230  |
# | Algeria     | 37100000   | 2381741 |
# +-------------+------------+---------+

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'name':['agf','dfdf'],'ll':[1,2]})

   name  ll
0   agf   1
1  dfdf   2

In [2]:
df=pd.read_csv(r'D:\Data_process_input\archive\orders.csv',na_values=['Not Available','unknown'])

In [3]:
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [4]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
df.columns=df.columns.str.lower()

In [6]:
df.columns=df.columns.str.replace(' ','_')

In [7]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [32]:
260*0.2

52.0

In [29]:
df.head(30)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3
20,21,2022-10-05,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Binders,OFF-BI-10002215,20,20,4,2
21,22,2023-07-16,Standard Class,Corporate,United States,Fremont,Nebraska,68025,Central,Office Supplies,Art,OFF-AR-10000246,20,20,7,4
22,23,2023-05-06,Standard Class,Corporate,United States,Fremont,Nebraska,68025,Central,Office Supplies,Appliances,OFF-AP-10001492,50,60,7,3
23,24,2023-05-21,Second Class,Consumer,United States,Philadelphia,Pennsylvania,19140,East,Furniture,Chairs,FUR-CH-10002774,60,70,2,4
24,25,2023-02-24,Standard Class,Consumer,United States,Orem,Utah,84057,West,Furniture,Tables,FUR-TA-10000577,900,1040,3,5
25,26,2022-06-20,Second Class,Consumer,United States,Los Angeles,California,90049,West,Office Supplies,Binders,OFF-BI-10001634,10,10,2,5
26,27,2022-02-08,Second Class,Consumer,United States,Los Angeles,California,90049,West,Technology,Accessories,TEC-AC-10003027,80,90,3,3
27,28,2023-12-11,Standard Class,Consumer,United States,Philadelphia,Pennsylvania,19140,East,Furniture,Bookcases,FUR-BO-10004834,2740,3080,7,3
28,29,2022-08-21,Standard Class,Consumer,United States,Philadelphia,Pennsylvania,19140,East,Office Supplies,Binders,OFF-BI-10000474,10,10,2,5
29,30,2022-08-14,Standard Class,Consumer,United States,Philadelphia,Pennsylvania,19140,East,Furniture,Furnishings,FUR-FU-10004848,100,120,3,4

In [8]:
df['discount_price']=df['list_price']*df['discount_percent']/100

In [9]:
df['discount_sel_price']=df['list_price']-(df['list_price']*(df['discount_percent']/100))

In [38]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_price,discount_sel_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0

In [10]:
df['profit_after_selling']=df['discount_sel_price']-df['cost_price']

In [11]:
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [9]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,discount_sel_price,profit_after_selling
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [24]:
#top 10 revenue generating products
grouped_df=df['product_id'].groupby(df['discount_sel_price']).sum().reset_index()

In [28]:
#top 10 revenue generating products 2nd step
grouped_df.sort_values(by=['discount_sel_price'],ascending=False).head(10)

     discount_sel_price       product_id
699             21734.4  TEC-MA-10002412
698             16975.0  TEC-CO-10004722
697             13440.0  TEC-CO-10004722
696             10976.0  TEC-CO-10004722
695              9975.0  TEC-CO-10004722
694              9395.5  OFF-BI-10000545
693              9261.0  OFF-BI-10001120
692              8827.0  TEC-MA-10001047
691              8575.0  TEC-MA-10001127
690              8148.0  TEC-CO-10004722

In [107]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,discount_sel_price,profit_after_selling
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [108]:
#month on month comparison
#for each category,which month had highest sales

In [114]:
pd.DatetimeIndex(df['order_date']).year.unique()

Index([2023, 2022], dtype='int32', name='order_date')

In [135]:
pd.DatetimeIndex(df['order_date']).year.unique()

Index([2023, 2022], dtype='int32', name='order_date')

In [141]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,discount_sel_price,profit_after_selling,order_date2month
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,2023-03
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,2023-08
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,2023-01
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,2022-06
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,2022-07

In [143]:
selected_df=df[['order_date2month','category','discount_sel_price']]

In [144]:
selected_df

     order_date2month         category  discount_sel_price
0             2023-03        Furniture               254.8
1             2023-08        Furniture               708.1
2             2023-01  Office Supplies                 9.5
3             2022-06        Furniture               940.8
4             2022-07  Office Supplies                19.0
...               ...              ...                 ...
9989          2023-02        Furniture                28.8
9990          2023-03        Furniture                86.4
9991          2022-08       Technology               254.8
9992          2022-11  Office Supplies                29.1
9993          2022-07  Office Supplies               232.8

[9994 rows x 3 columns]

In [169]:
mydict={}
for _ in selected_df.values.tolist():
    #if _ in mydict:
    if _[0] in mydict and mydict[_0][0]==_[1]:
        
    mydict[str(_[0])=[_[1],_[2]]

In [170]:
mydict

{'2023-03:Furniture': [86.4],
 '2023-08:Furniture': [456.0],
 '2023-01:Office Supplies': [211.2],
 '2022-06:Furniture': [144.0],
 '2022-07:Office Supplies': [232.8],
 '2022-03:Furniture': [264.6],
 '2022-12:Office Supplies': [0.0],
 '2022-01:Technology': [77.6],
 '2023-03:Office Supplies': [9.6],
 '2023-05:Office Supplies': [38.4],
 '2023-12:Technology': [475.0],
 '2022-02:Office Supplies': [105.6],
 '2023-07:Office Supplies': [134.4],
 '2023-11:Office Supplies': [19.0],
 '2022-06:Office Supplies': [39.2],
 '2023-08:Office Supplies': [29.4],
 '2022-01:Office Supplies': [9.7],
 '2022-10:Office Supplies': [39.2],
 '2023-05:Furniture': [19.2],
 '2023-02:Furniture': [28.8],
 '2022-02:Technology': [636.5],
 '2023-12:Furniture': [451.2],
 '2022-08:Office Supplies': [19.2],
 '2022-08:Furniture': [19.4],
 '2022-11:Office Supplies': [29.1],
 '2022-09:Office Supplies': [57.6],
 '2022-10:Technology': [855.0],
 '2023-07:Furniture': [9.7],
 '2022-01:Furniture': [597.8],
 '2023-06:Technology': [29.4],
 '2022-06:Technology': [67.9],
 '2023-02:Office Supplies': [9.8],
 '2023-09:Office Supplies': [58.2],
 '2022-11:Technology': [199.5],
 '2022-05:Office Supplies': [9.5],
 '2022-05:Technology': [155.2],
 '2023-06:Office Supplies': [9.6],
 '2023-09:Furniture': [541.5],
 '2023-10:Technology': [39.2],
 '2022-04:Office Supplies': [98.0],
 '2022-03:Office Supplies': [28.8],
 '2023-04:Office Supplies': [717.8],
 '2022-05:Furniture': [9.6],
 '2022-08:Technology': [254.8],
 '2022-10:Furniture': [1852.8],
 '2023-10:Office Supplies': [426.8],
 '2023-12:Office Supplies': [9.6],
 '2023-04:Technology': [77.6],
 '2022-04:Furniture': [659.6],
 '2022-12:Technology': [256.5],
 '2023-03:Technology': [259.2],
 '2023-10:Furniture': [58.2],
 '2023-01:Technology': [291.0],
 '2022-07:Technology': [209.0],
 '2023-06:Furniture': [88.2],
 '2023-11:Technology': [137.2],
 '2023-11:Furniture': [9.7],
 '2023-02:Technology': [19.0],
 '2022-07:Furniture': [691.2],
 '2023-07:Technology': [134.4],
 '2023-08:Technology': [184.3],
 '2023-04:Furniture': [9.7],
 '2022-02:Furniture': [47.5],
 '2023-01:Furniture': [66.5],
 '2022-11:Furniture': [67.2],
 '2022-12:Furniture': [485.0],
 '2022-09:Technology': [96.0],
 '2023-05:Technology': [116.4],
 '2022-09:Furniture': [368.6],
 '2022-04:Technology': [147.0],
 '2022-03:Technology': [38.8],
 '2023-09:Technology': [57.0]}

In [159]:
selected_df.groupby(['order_date2month'])['category']

In [122]:
df['order_date'],['category'],['discount_sel_price']

(0       2023-03-01
 1       2023-08-15
 2       2023-01-10
 3       2022-06-18
 4       2022-07-13
            ...
 9989    2023-02-18
 9990    2023-03-17
 9991    2022-08-07
 9992    2022-11-19
 9993    2022-07-17
 Name: order_date, Length: 9994, dtype: object,
 ['category'],
 ['discount_sel_price'])

In [119]:
pd.DatetimeIndex(df['order_date']).month

Index([ 3,  8,  1,  6,  7,  3, 12,  1,  3,  5,
       ...
        8,  9, 11,  4, 11,  2,  3,  8, 11,  7],
      dtype='int32', name='order_date', length=9994)

In [118]:
df.groupby(['category'])['discount_sel_price'].sum()

category
Furniture          715340.7
Office Supplies    693644.5
Technology         806873.5
Name: discount_sel_price, dtype: float64

In [ ]:
pd.DatetimeIndex(df['ArrivalDate']).year

In [112]:
df['ArrivalDate'].dt.year

AttributeError: 'Series' object has no attribute 'datetime'

In [30]:
#--find top 5 highest selling  products in each region

In [64]:
temp_df=df[['region','product_id','discount_sel_price']]

In [ ]:
temp_df

In [74]:
discount_df=temp_df.groupby("product_id")["discount_sel_price"].sum().reset_index().sort_values(by=['discount_sel_price'],ascending=False)

In [77]:
discount_df.head()

           product_id  discount_sel_price
1614  TEC-CO-10004722             59514.0
776   OFF-BI-10003527             26525.3
1642  TEC-MA-10002412             21734.4
80    FUR-CH-10002024             21096.2
691   OFF-BI-10001359             19090.2

In [76]:
temp_df.head()

  region       product_id  discount_sel_price
0  South  FUR-BO-10001798               254.8
1  South  FUR-CH-10000454               708.1
2   West  OFF-LA-10000240                 9.5
3  South  FUR-TA-10000577               940.8
4  South  OFF-ST-10000760                19.0

In [ ]:
pd.merge()

In [82]:
merged_df=pd.merge(left=temp_df,right=discount_df,how='left',on=['product_id'],suffixes=['_left','_right'])

In [ ]:
#merged_df.groupby("name_depart")["salary"].rank(method="dense", ascending=False)

In [85]:
merged_df['region_rank']=merged_df.groupby(['region'])['discount_sel_price_right'].rank(method='dense',ascending=False)

In [98]:
merged_df=merged_df[['region','product_id','region_rank']].drop_duplicates(keep='first')

In [106]:
merged_df.loc[merged_df['region_rank']<=5].sort_values(by=['region','region_rank'],ascending=[True,True])

       region       product_id  region_rank
6826  Central  TEC-CO-10004722          1.0
2846  Central  OFF-BI-10003527          2.0
1438  Central  FUR-CH-10002024          3.0
1896  Central  OFF-BI-10001359          4.0
8640  Central  OFF-BI-10000545          5.0
2623     East  TEC-CO-10004722          1.0
7280     East  OFF-BI-10003527          2.0
7243     East  FUR-CH-10002024          3.0
3459     East  OFF-BI-10001359          4.0
869      East  OFF-BI-10000545          5.0
509     South  OFF-BI-10003527          1.0
2697    South  TEC-MA-10002412          2.0
8236    South  FUR-CH-10002024          3.0
2848    South  OFF-BI-10001359          4.0
4355    South  OFF-BI-10000545          5.0
8153     West  TEC-CO-10004722          1.0
2239     West  OFF-BI-10003527          2.0
551      West  FUR-CH-10002024          3.0
335      West  TEC-CO-10001449          4.0
6817     West  OFF-BI-10004995          5.0

In [ ]:
temp_df['region'].apply(lambda discount_sel_price:discount_sel_price['discount_sel_price'].nlargest(5))

In [63]:
df.groupby(['product_id'])['discount_sel_price'].sum()

product_id
FUR-BO-10000112     805.1
FUR-BO-10000330    1036.4
FUR-BO-10000362    2089.4
FUR-BO-10000468     706.1
FUR-BO-10000711     830.9
                    ...
TEC-PH-10004912     493.8
TEC-PH-10004922    1037.3
TEC-PH-10004924      48.2
TEC-PH-10004959     328.8
TEC-PH-10004977    5099.0
Name: discount_sel_price, Length: 1862, dtype: float64

In [62]:
df.drop(['sum_product_id'],axis=1,inplace=True)

In [60]:
df['sum_product_id'].unique()

array([nan])

In [59]:
df.sort_values(by=['sum_product_id'],ascending=False)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,discount_sel_price,profit_after_selling,sum_product_id
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,NaN
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,NaN
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,NaN
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,NaN
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2,NaN
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4,NaN
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8,NaN
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9,NaN
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8,NaN

In [29]:
df['region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [45]:
df.dtypes

order_id                         int64
order_date              datetime64[ns]
ship_mode                       object
segment                         object
country                         object
city                            object
state                           object
postal_code                      int64
region                          object
category                        object
sub_category                    object
product_id                      object
quantity                         int64
discount_price                 float64
discount_sel_price             float64
profit_after_selling           float64
dtype: object

In [138]:
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [12]:
df['order_date2month']=df['order_date'].dt.to_period('M')

AttributeError: Can only use .dt accessor with datetimelike values

In [49]:
import sqlalchemy as sa

In [52]:
engine = sa.create_engine('mssql://DESKTOP-T380RQ5/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

In [53]:
conn=engine.connect()

In [60]:
df.head(6)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,discount_sel_price,profit_after_selling
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5

In [63]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount_price', 'discount_sel_price',
       'profit_after_selling'],
      dtype='object')

In [64]:
df.to_sql('df_orders',con=conn,index=False,if_exists='append')

38

In [40]:
df.head(6)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_price,discount_sel_price,profit_after_selling
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3,1.5,48.5,-1.5

In [57]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount_price', 'discount_sel_price',
       'profit_after_selling'],
      dtype='object')

In [13]:
df.shape

(9994, 16)

In [19]:
df['Ship Mode'].isnull().sum()

6